<%- include('./partials/head') %>

<body>

    <section class="container">

        <h1 class="header">Select activity</h1>

        <select name="activities" id="activity">
            <option value="Ping Pong">Ping Pong</option>
            <option value="Basketball">Basketball</option>
            <option value=" Football">Football</option>
            <option value="Tennis">Tennis</option>
            <option value="Hockey">Hockey</option>
            <option value="Volleyball">Volleyball</option>
          </select>

       <a class="button" href="team">Continue</a>
    </section>
</body>

<%- include('./partials/foot') %>