<%- include('./partials/head') %>

<body>

    <section class="match-container">
<img src="/assets/time.svg" alt="Time">

<h1>10:33</h1>


<div>
    <h2 id="test">Team 1</h2>

    <h2>Team 2</h2>
</div>

<div>
    <p>2</p>
    <p> - </p>
    <p>1</p>
</div>

<div>
  <button class="button">Point scored</button>
  <button class="button">Point scored</button>
</div>

</section>
</body>

<%- include('./partials/foot') %>