<%- include('./partials/head') %>

<body>

    <section class="match-container">
<img src="/assets/time.svg" alt="Time">

<h1 id="timer"> <%- match[match.length-1].speeltijd %> </h1>


<div>
    <h2>Team 1</h2>

    <h2>Team 2</h2>
</div>

<div>
    <p id="score-team1">0</p>
    <p> - </p>
    <p id="score-team2">0</p>
</div>

<div>
  <button id="button-team1"><img  src="/assets/plusPoint.svg" alt="plus point"></button>
  <button id="button-team2"><img  src="/assets/plusPoint.svg" alt="plus point"></button>

</div>

<div>
    <button id="minus-button-team1"><img  src="/assets/minus.svg" alt="minus point"></button>
    <button id="minus-button-team2"><img  src="/assets/minus.svg" alt="minus point"></button>
</div>

</section>

<script src="/scripts/match.js"></script>
</body>

<%- include('./partials/foot') %>