<%- include('./partials/head') %>

<body>
    <header class="container">
        <img class="logo-img" src="assets/logoScoreCompressed.svg" alt="Logo Score">
        <p>start a game to keep count of the score!</p>
    </header>


    <section class="button-container">
        <a class="primaryBtn" href="createMatch">Start Game</a>
        <a class="secondaryBtn" href="matchResults">View match results</a>

    </section>



</body>

<%- include('./partials/foot') %>