<%- include('./partials/head') %>

<body>
    <header class="container">
        <img src="assets/splash.svg" alt="splash">
        <h1 class="logo-title">SCORE</h1>
    </header>

    <section class="button-container">
        <a class="button" href="createMatch">Start Game</a>
        <a class="button" href="matchResults">View Results</a>

    

    </section>

</body>

<%- include('./partials/foot') %>