<%- include('./partials/head') %>

<body>
    <header>
<img src="assets/splash.svg" alt="uxwing/splash">
<h1>SCORE</h1>
    </header>

    <section>

    </section>
</body>

<%- include('./partials/foot') %>