<%- include('./partials/head') %>

<body>

    <section class="center">
        <h1 class="header">Get ready!</h1>
      
        <h2 id="timer">3</h2>
    </section>
</body>


<script src="scripts/getReady.js"></script>

<%- include('./partials/foot') %>