<%- include('./partials/head') %>

<body>
    <section class="container">

        <h1 class="header">Choose your team</h1>

        <a class="button" href="/">Team 1</a>

        <p>VS</p>

        <a class="button" href="/">Team 2</a>

    </section>
</body>



<%- include('./partials/foot') %>