<%- include('./partials/head') %>

<body>
    <section class="container">

        <h1 class="header">Team 1  <button><img src="assets/edit.svg" alt="Edit"></button></h1>
           
       <ul>
        <li>Player 1 <button><img src="assets/edit.svg" alt="Edit"></button></li>

        <button class="add-player">Add player <img src="assets/plus.svg" alt="Add"></button>
       </ul>
      
       <a class="button" href="/">Continue</a>

    </section>
</body>



<%- include('./partials/foot') %>