<%- include('./partials/head') %>

<body>


    <section class="container-test">
        <a href="/" class="go-back">
            <img src="/assets/back-arrow.svg" alt="left-arrow">
        </a>

        <div id="confettiBG">
            <h1>Team 2 won!</h1>
        </div>

        <button class="button">Share</button>
    </section>


</body>



<%- include('./partials/foot') %>