@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    color: var(--white);
}

:root {
    --darkBlue: #023047;
    --lightBlue: #8ECAE6;
    --blue: #219EBC;
    --orange: #FFB703;
    --white: #FFFFFF;
}

body {
    background-color: var(--darkBlue);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}


.logo-title {
    font-family: 'insaniburger';
    font-size: 30px;
    color: var(--white);
    position: absolute;
    margin-top: 1.5rem;
    margin-right: 1.5rem;

}

.header {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
}

h2 {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 1rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.button {
    height: 3rem;
    padding: 0 0.5rem;
    background-color: var(--orange);
    border-radius: 10px;
    text-decoration: none;
    color: var(--darkBlue);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 2rem;

}

.button:hover {
    background-color: #bc8803;
}




#activity {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
    margin-top: 0.2rem;
}

option {
    font-weight: bold;
    color: var(--darkBlue);

}



button {
    border: none;
    background-color: var(--darkBlue);
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    transform: scale(110%);
}


.add-player {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}


#time {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
}

label {
    text-align: center;
    margin-top: 1.5rem;

}

input {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
    margin-top: 0.2rem;

}

.match-container div {
    display: flex;
    justify-content: space-between;
  
    width: 15rem;
    text-align: center;

}


.match-container div p, h2, h1{
    margin: 2rem 0;
}


.match-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}