@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    color: var(--white);
}

:root {
    --darkBlue: #023047;
    --lightBlue: #8ECAE6;
    --blue: #219EBC;
    --orange: #FFB703;
    --white: #FFFFFF;
}

body {
    background-color: var(--darkBlue);
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}


.logo-title {
    font-family: 'insaniburger';
    font-size: 30px;
    color: var(--white);
    position: absolute;
    margin-top: 1.5rem;
    margin-right: 1.5rem;

}

.header {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.button {
    height: 3rem;
    padding: 0 0.5rem;
    background-color: var(--orange);
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    color: var(--darkBlue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;

}

.button:hover {
    background-color: #bc8803;
}




#activity {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
    margin-top: 0.2rem;
}

option {
    font-weight: bold;
    color: var(--darkBlue);

}



button {
    border: none;
    background-color: var(--darkBlue);
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    transform: scale(110%);
}


.add-player {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}


#time {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
}

label {
    text-align: center;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1rem;

}

input {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
    margin-top: 0.2rem;

}

.match-container div {
    display: flex;
    justify-content: space-between;

    width: 15rem;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 1.5rem;

}


.match-container h1 {
    font-size: 2rem;
    margin-top: 2rem;
}


.match-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

}



#score-team1,
#score-team2 {
    width: 3rem;
}



#confettiBG {
    background-image: url("/assets/confetti.svg");
    width: 250px;
    height: 250px;
    z-index: -1;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.go-back {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 3rem;
    margin-top: 1rem;

}

.go-back:hover {
    background-color: #bc8803;
}

.container-test {
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



.matchResults{
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    list-style: none;
}


.matchResults li{
    color: var(--darkBlue);
    padding: 0.3rem 0;
}

.matchResults li span{
   font-weight: bold;
   color: var(--darkBlue);
   
}


.list-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    color: var(--darkBlue);
}


/* 

.hide{
    display: none;

}


.show{
    display: flex;
} */