@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    color: var(--white);
}

:root {
    --darkBlue: #023047;
    --lightBlue: #8ECAE6;
    --blue: #219EBC;
    --orange: #FFB703;
    --white: #FFFFFF;
}

body {
    background-color: var(--darkBlue);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.logo-title {
    font-family: 'insaniburger';
    font-size: 30px;
    color: var(--white);
    position: absolute;
    margin-top: 1.5rem;
    margin-right: 1.5rem;

}

.header {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

h2 {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.button {
    height: 3rem;
    padding: 0 0.5rem;
    background-color: var(--lightBlue);
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    color: var(--darkBlue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    border: none;

}

.button:hover {
    background-color: var(--blue);
    color: var(--white);
}


#activity {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
    margin-top: 0.2rem;
}

option {
    font-weight: bold;
    color: var(--darkBlue);

}



button {
    border: none;
    background-color: var(--darkBlue);
    cursor: pointer;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#time {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
}

label {
    text-align: center;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1rem;

}

input {
    width: 10rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 10px;
    border: 1px solid #715100;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkBlue);
    margin-top: 0.2rem;

}

.match-container div {
    display: flex;
    justify-content: space-between;

    width: 15rem;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 1.5rem;

}


.match-container h1 {
    font-size: 2rem;
    margin-top: 2rem;
}


.match-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;

}



#score-team1,
#score-team2 {
    width: 3rem;
}



#confettiBG {
    background-image: url("/assets/confetti.svg");
    width: 250px;
    height: 250px;
    z-index: -1;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.go-back {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 3rem;
    margin-top: 1rem;

}

.go-back:hover {
    background-color: #bc8803;
}

.container-test {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



.matchResults {
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    list-style: none;
}


.matchResults li {
    color: var(--darkBlue);
    padding: 0.3rem 0;
}

.matchResults li span {
    font-weight: bold;
    color: var(--darkBlue);

}


.list-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    color: var(--darkBlue);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.scoreTeam1,
.scoreTeam2 {

    text-align: center;
}


.hide {
    display: none;

}


.show {
    display: flex;
}

#confettiBG p {
    font-size: 1.5rem;
    font-weight: bold;
}

.delete {
    background-color: var(--darkBlue);
    padding: 1rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    font-weight: bold;
}

.delete:hover {

    background-color: var(--darkBlue);
    color: var(--orange);
}


.score {
    color: var(--darkBlue);
    background-color: var(--blue);
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.5rem;
    border: none;
    border-radius: 10px;

}

.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dash {
    color: var(--blue);
    font-size: 2rem;
}



.primaryBtn {
    font-size: 1.3rem;
    height: 3rem;
    padding: 0 0.5rem;
    background-color: var(--orange);
    border-radius: 10px;
    width: 10rem;
    text-decoration: none;
    color: var(--darkBlue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.primaryBtn:hover {
    background-color: #bc8803;
}

.secondaryBtn {

    height: 3rem;
    padding: 0 0.5rem;
    background-color: var(--blue);
    border-radius: 10px;
    width: 130px;
    text-decoration: none;
    color: var(--darkBlue);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 1.5rem;
    text-align: center;
}

.secondaryBtn:hover {
    background-color: #18839d;
    color: var(--white);
}


.container p {
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.2rem;
    width: 15rem;
    text-align: center;
    line-height: 1.5;

}

.logo-img {
    margin-top: 2rem;
}